.container {
  background-color: #E0EBE8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPart {
  display: inline-block;
  text-align: left;
  margin-top: -120px;
}

.typist_name {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 300%;
  color: #ED1F44;
}

.name {
  margin: 0;
  padding: 0;
  display: inline-block;
}

