.container {
  background-color: #E0EBE8;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 290px;
}

.mainPart {
  display: inline-block;
  text-align: left;
}

.typist_name {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 300%;
  color: #ED1F44;
}

.name {
  margin: 0;
  padding: 0;
  display: inline-block;
}

