.container {
  text-align: center;
}

.heading {
  color: #45B29A;
  margin-top: 25px;
  font-size: 28px;
  margin-bottom: -15px;
  line-height: 27px;
  padding-left: 25px;
  padding-right: 25px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 530px;
  margin: 0 auto;
  margin-top: 85px;
}

.skillContent {
  text-align: left;
  max-width: 280px;
}

.skillImage {
  width: 130px;
  height: 130px;
  margin-right: 65px;
}

.skillName {
  color: #45B29A;
  font-size: 22px;
  margin-bottom: 4px;
  line-height: 24px;
  margin-bottom: 15px;
}

.skillDesc {
  font-size: 19px;
  line-height: 22px;
  max-width: 300px;
}

@media screen and (max-width: 590px) {
  .skill {
    width: 85%;
    max-width: 350px;
    display: block;
  }

  .skillContent {
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
  }

  .skillImage {
    margin-right: 0px;
  }

  .skillDesc {
    margin: 0 auto;
  }
}