.intro {
  text-align: center;
  padding: 40px 0;
}

.heading {
  font-weight: bold;
  color: #45B29A;
  font-size: 43px;
  margin: 0 auto;
  margin-top: 42px;
  max-width: 300px;
  line-height: 45px;
}

.image {
  width: 150px;
  height: auto;
}

.wrapper {
  background-color: #fff;
  padding: 40px 0px;
}

.content {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
}

.bold {
  font-size: 20px;
}

.less {
  margin-top: 20px;
  font-size: 18px;
}

.image {
  width: 210px;
  height: auto;
  display: block;
  margin: 0 auto; 
  margin-top: 30px;
}

.commentsWrapper {
  background-color: #f0f0f0;
}

.comments {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f0f0f0;
}
