.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.text {
  font-size: 73px;
  padding-bottom: 25px;
}

.return {
  padding: 13px 19px;
  background-color: tomato;
  text-decoration: none;
  font-size: 19px;
  color: white;
}