.header {
  background-color: #242121;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 63px;
}

.logo {
  font-family: 'Bree Serif', serif;
  color: white;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
}

.logoPicture {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}