.wrapper {
  background-color: #211d1c;
}

.container {
  background-image: url('../../assets/images/background-bg.jpg');
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  font-family: 'Bree Serif', serif;
  font-size: 28px;
  margin-top: 60px;
  animation: fade-in 3s ease both;
}

.intro {
  margin-left: 10%;
  margin-right: 10%;
}

.me, .desc {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1em;
  animation: fade-in 3s ease both;
}

.me {
  color: #d45c54;
}

.desc {
  color: white;
  animation-delay: .5s;
}

@media screen and (max-width: 512px) {
  .container {
    background-image: url('../../assets/images/background-sm.jpg');
  }
}

@media screen and (max-width: 590px) {
  .container {
    font-size: 24px;
    align-items: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

