.container {
  background-color: #111111;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  font-family: 'Inconsolata', monospace;
}

.creator {
  width: 88%;
  color: white;
  margin: 0 auto;
  font-size: 17px;
}
