.container {
  background-color: #21364B;
  display: flex;
  justify-content: space-between;
  padding: 19px 75px;
  padding-bottom: 15px;
  align-items: center;
}

.info {
  font-size: 15px;
  color: white;
  padding: 0;
  margin: 0;
}

.heart {
  color: #DF4242;
  font-size: 18px;
}

.creator {
  margin-bottom: 1.5px;
}

.linkNU {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 670px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    display: block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .creator {
    margin-bottom: 0px;
  }

  .info {
    font-size: 14px;
  }
}