.card {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 110px;
}

.blogImage {
  width: 150px;
  height: auto;
}

.title {
  color: white;
  font-size: 28px;
  margin-top: 15px;
  padding: 0px 13px;
  line-height: 25px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.description {
  color: white;
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
  line-height: 20px;
  font-weight: 400;
  margin-top: 15px;
  padding: 0px 13px;
  margin-bottom: 30px;
}

.button {
  padding: 10px 67px;
  border: none;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.button:hover {
  opacity: 0.9;
}